.ui-autocomplete {
	max-height: 100px;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	border-radius: 3px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	background: #f5f5f6;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
	height: 100px;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 100;
  color: #424242;
  background: #e1e2e1;
}

.wrap {
	width: 400px;
	margin: 0 auto;
}

.btn {
	margin: 15px 100px;
	width: 200px;
	height: 40px;
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 1.6em;
	background-color: #f5f5f6;
  	color: #424242;
  	border: none;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 3px;
	cursor: pointer;
}

.pdf-button {
	width: 15px;
	margin-right: 20px;
}

ul {
	padding: 5px 15px;
}

.task-list {
	width: 88%;
	min-height: 300px;
	background: #f5f5f6;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
	border-radius: 3px;
	margin-top: 20px;
	padding: 22px 6%;
}

.task-list li {
	font-size: 1.4em;
	padding: 8px 0;
	margin: 0 -15px;
	overflow: hidden;
}

.task-list li span {
	width: 86%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
}

.task-list li .neon-button {
	float: left;
	width: 20px;
	height: auto;
	padding-top: 6px;
	margin-right: 4px;
	cursor: pointer;
	transform: scaleX(-1);
}

.task-list li .delete-button {
	width: 15px;
	height: auto;
	padding-top: 10px;
	float: right;
	vertical-align: top;
	opacity: 0.7;
	cursor: pointer;
}

.task-list li .delete-button:hover {
	opacity: 0.85;
}

.add-new-task {
	margin-top: 20px;
	padding-bottom: 60px;
}

.add-new-task input[type='text'] {
	width: 100%;
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 1.6em;
	color: #424242;
	background: #f5f5f6;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
	border: none;
	border-radius: 3px;
	display: block;
	padding: 12px 6%;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

.neon {
	background: #ffff00;
}

.checked {
  color: #d9d9d9;
  text-decoration: line-through;
}

footer {
  text-align: center;
  bottom: 0px;
  right: 0;
  left: 0;
}
footer p {
  font-family: 'raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  color: #9e9e9e;
	margin: 0 0;
}

@media all and (max-width: 576px) {
	.wrap {
		width: 90%;
	}
	.btn {
		margin: 15px 25%;
		width: 50%;
	}
}
